*{
  margin:0;
  padding:0;
}

#sidebar {
    padding-top: 30px;
    position: fixed;
    width: 200px;
    height: 100%;
    /*background: #151719;*/
    top: 56px;
    left: -200px;
    transition: all 500ms linear;
    z-index: 999;
  }

  #sidebar.active {
    left: 0px;
  }

  ul{
    padding-inline-start: 0px;
  }
  
  #sidebar ul li {
    color: rgba(230, 230, 230, .9);
    list-style: none;
    padding: 15px 20px;
    border-bottom: 1px solid rgba(100, 100, 100, .3);
    text-align: left;
  }
  
  .logo {
    width: 100px;
    display: block;
    margin: 0 auto; 
  }
  
  #sidebar .toggle-btn {
    position: absolute;
    left: 210px;
    top: 20px;
    cursor: pointer;
  }
  
  #sidebar .toggle-btn span {
    color: #ccc;
    display: block;
    width: 50px;
    text-align: center;
    font-size: 30px;
    border: 3px solid #ccc;
  }
  
  i{
    width: 5px;
    padding-right: 30px;
  }

  a{
    color: #ccc;
    text-decoration: none;
  }

  a:hover{
    color: #ccc;
    text-decoration: none;
    opacity: 0.4;
  }